body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
}

a {
    color:lightskyblue;
    text-decoration: none;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem;
}

th {
    background-color: lightskyblue;
}

tr:hover {
    background-color: lightgrey;
}
